<%= render 'header'%>

<%= form_with model: @entity, url: group_entities_path do |form| %>
  <% if @entity.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@entity.errors.count, "error") %> prohibited this entity from being saved:</h2>
      <ul>
        <% @entity.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mt-5 mb-3 container">    
    <%= form.text_field :name, placeholder: "Name", class: 'form-control' %>
  </div>

  <div class="my-3 container">    
    <%= form.number_field :amount, placeholder: "Amount", class: 'form-control' %>
  </div>

  <div class="actions p-3 bg-success d-grid container fixed-bottom">
    <%= form.submit 'NEW TRANSACTION', class: "btn btn-success" %>
  </div>
<% end %>


<div>
  <%= link_to "Back to transactions", group_entities_path %>
</div>
