<%= render 'header'%>
<p style="color: green" class="notice m-0"><%= notice %></p>
<p style="color: red" class="alert m-0"><%= alert %></p>
<div id="groups">  
  <% @groups.each do |group| %>
    <%= render group%>
 
 <%
=begin%>
 <p>
      <%= link_to "Show this group", group %>
    </p>   
<%
=end%>
  <% end %>
</div>

<div class="actions p-3 bg-success d-grid container fixed-bottom">
  <%= link_to "NEW CATEGORY", new_group_path, class: "btn btn-outline-light" %>    
</div>
